GetNotifications/xml-resources/web-service-references/Notifications/wsdl/localhost_8080/CISIS_RegistrationBoard/Notifications.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getNotification" type="tns:getNotification"/>

<xs:element name="getNotificationResponse" type="tns:getNotificationResponse"/>

<xs:complexType name="getNotification">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNotificationResponse">
<xs:sequence>
<xs:element name="return" type="tns:notification" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="notification">
<xs:sequence>
<xs:element name="action" type="xs:string" minOccurs="0"/>
<xs:element name="memberId" type="xs:int"/>
<xs:element name="notificationDate" type="xs:string" minOccurs="0"/>
<xs:element name="notificationDetail" type="xs:string" minOccurs="0"/>
<xs:element name="notificationId" type="xs:int"/>
<xs:element name="notificationType" type="xs:int"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>